@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --light-purple: #a8b1ff;
    --text-color: #2e3856;
    --dark-purple: #423ed8;
    --yellow: #fff6a8;
    --dark-yellow: #dbd179;
}

body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

.quiz--results {
    margin-top: 0;
    padding-top: 30px;
}

.quiz-container {
    background-color: white;
    width: 70%;
    min-height: 100%;
    padding-top: 90px;
    margin: 0 auto;
}

.quiz {
    margin: 0 auto;
    padding: 0 5%;
    max-width: 600px;
    padding-bottom: 10%;
}

.quiz-questions,
.quiz-indicator,
.quiz-results {
    margin-bottom: 20px;
}

.quiz-results-item {
    margin-bottom: 20px;
}

.quiz-questions-item .quiz-questions-item__answers,
.quiz-results-item .quiz-results-item__answers {
    margin: 0;
    padding: 0;
    list-style: none;
}

.quiz-questions-item .quiz-questions-item__answers li {
    margin-bottom: 10px;
}

.quiz-questions-item .quiz-questions-item__question,
.quiz-results-item .quiz-results-item__question {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    outline: none;

    font-size: 1.1em;
    border: none;
    color: var(--text-color);
    padding: 10px 40px;
    /* background-color: rgb(80, 214, 255); */
    background-color: var(--yellow);
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

button:hover {
    /* background-color: rgb(46, 206, 255); */
    background-color: var(--dark-yellow);
}

.quiz-results {
    display: none;
}

.btn-restart {
    display: none;
}

.questions--hidden,
.indicator--hidden,
.btn-next--hidden {
    display: none;
}
.btn-restart--visible,
.indicator--visible {
    display: block;
}

.answer--invalid {
    color: red;
}

.answer--valid {
    color: green;
}

.quiz-questions-item .quiz-questions-item__answers li {
    font-size: 1.1em;
    /* background-color: rgba(101, 209, 242, 0.4); */
    background-color: var(--light-purple);
    border-radius: 10px;
    color: var(--text-color);
    margin-bottom: 8px;
    cursor: pointer;
}

.quiz-questions-item .quiz-questions-item__answers label {
    display: block;
    padding: 10px 5px;
    cursor: pointer;
}

.quiz--hidden {
    display: none;
}

.start-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.start-container h2 {
    margin-bottom: 30px;
}

.start-container .btn-start {
    padding: 10px 40px;
    background-color: rgb(80, 214, 255);
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

.start-container .btn-start:hover {
    background-color: rgb(46, 206, 255);
}

.quiz-container:has(.quiz--results) {
    padding-top: 70px;
}

/* Header added styles */
.header {
    position: absolute!important;
}
/* header styles end */

@media screen and (max-width: 496px) {
    .quiz-container {
        width: 100%;
        padding-top: 25vh;
    }

    .start {
        padding-top: 0;
    }
}
