:root {
    --background-color: #f0f0f0;
    --text-color: #2e3856;
}

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* resest styles end */

/* Header added styles */
.header {
    position: static!important;
}
/* header styles end */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
}

/* Content styles begin */
.content {
    width: 60%;
    margin: 0 auto;
    padding: 25px 15px;
    background-color: white;
}

.content h1 {
    text-align: center;
    font-size: 2.1em;
    margin-bottom: 40px;
}

.content h2 {
    margin-top: 25px;
    margin-bottom: 5px;
}

.content p {
    font-family: Arial, sans-serif;
    line-height: 1.58;
    font-size: 16px;
}
/* content styles end */

/* Footer added styles */
.footer {
    margin-top: 50px!important;
}
/* footer styles end */

@media screen and (max-width: 768px) {
    .content {
        width: 80%;
    }
}

@media screen and (max-width: 481px) {
    .content {
        width: 100%;
    }
}
